.joinroot{
    -fx-background-color: #D2B48C;
}
.roomlist, .roomsize, .roomname{
    -fx-background-color: #FAF0E6;
}
.button1{
    -fx-background-color:  #a88462;
    -fx-border-color:  #D2B48C;
    -fx-background-radius: 20;
}
.textarea{
    -fx-text-fill: #660000;
}