.joinroot{
    -fx-background-color: #A0522D;
}
.roomlist, .roomsize, .roomname{
    -fx-background-color: #FAF0E6;
}
.button1{
    -fx-background-color: #D2B48C;
    -fx-border-color: #A0522D;
    -fx-background-radius: 20;
}
.textarea{
    -fx-text-fill: #fffefe;
}