
.cardPanel1 {
    -fx-background-color: red;
}

.cardPanel2 {
    -fx-background-color: blue;
}

.cardPanel3 {
    -fx-background-color: orange;
}

.cardPanel4 {
    -fx-background-color: pink;
}

.cardPanel5 {
    -fx-background-color: yellow;
}

.cardPanel6 {
    -fx-background-color: gray;
}


.button1 {
    -fx-background-color:  #669900;
    -fx-text-fill:  #000000;
    -fx-border-color: #9e7000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.button2 {
    -fx-background-color:  #CC9933;
    -fx-text-fill:  #000000;
    -fx-border-color: #9e7000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.root{
    -fx-background-color:  #D2B48C;
}

.textarea1{
    -fx-text-fill: #f5f5dc;
    -fx-alignment: center;
}
.textarea2{
    -fx-text-fill: #000000
}