
.cardPanel1 {
    -fx-background-color: red;
}

.cardPanel2 {
    -fx-background-color: blue;
}

.cardPanel3 {
    -fx-background-color: orange;
}

.cardPanel4 {
    -fx-background-color: pink;
}

.cardPanel5 {
    -fx-background-color: yellow;
}

.cardPanel6 {
    -fx-background-color: gray;
}


.button1 {
    -fx-background-color: #F5F5DC;
    -fx-text-fill:  #000000;
    -fx-border-color: #9e7000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-family: "Gill Sans";
}
.button:hover{
    -fx-text-fill: #b51616;
}
.button1:selected{
    -fx-text-fill: #b51616;
}

.button2 {
    -fx-background-color: #ffc638;
    -fx-text-fill:  #000000;
    -fx-border-color: #9e7000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-family: "Gill Sans";
}

.root{
    -fx-background-color:  #D2B48C;
}

.textarea1{
    -fx-text-fill: #f5f5dc;
    -fx-alignment: center;

}
.textarea2{
    -fx-text-fill: #000000;
    -fx-font-family: "Gill Sans";
}